body{
    font-family: 'Roboto', sans-serif;
    direction: rtl;
    overflow-x: hidden;
    min-height: 150vh;
}

.img{
    background: url(/img/image\ 1.png) center no-repeat border-box ;
}
.img p{
    font-size: 1.4rem; 
    font-weight: 800;
}

.p{
    text-align: right;
}
